SECRET_KEY=change_this_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./quiz_platform.db
FRONTEND_URL=https://your-frontend-ngrok-url.ngrok-free.app
BACKEND_PUBLIC_URL=https://your-backend-ngrok-url.ngrok-free.app
